---
layout: table-of-contents
---

<div class="home">
  
  <ul class="post-list">
    
    <h2>Experiments</h2>
    {% for post in site.categories.experiments %}
      <li>
        <p>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | remove: '.html' }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
      </li>
    {% endfor %}
    
    <h2>Travels</h2>
    {% for post in site.categories.travels %}
      <li>
        <p>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | remove: '.html' }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
      </li>
    {% endfor %}
          
    <!--
    <h2>book reviews:</h2>
    {% for post in site.categories.books %}
      <li>
        <p>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | remove: '.html' }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
      </li>
    {% endfor %}
    -->
      
  </ul>
  
</div>
