<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'floraonfauna';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>

<div>You can keep up to date with my lattest adventures through
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" >RSS</a>,
  <a href="http://twitter.com/fehuleather" target="_blank">Twitter</a>, or
  <a href="{{ site.baseurl }}/email-signup">Email</a>.</div>

<p class="back-to-top">
  And now, back to the <a href="{{ site.baseurl }}/">table of contents</a>.
</p>
