<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="text:Google Analytics ID" content="" />
  <meta name="text:Google Web Font name" content="" />
  <link rel="apple-touch-icon" href="{{ "/assets/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}">

  <!--Custom google webfonts -->
  <link href='http://fonts.googleapis.com/css?family={text:Google Web Font name}' rel='stylesheet' type='text/css'>
  <!--
  <link rel="stylesheet" href="your-external-stylesheet-here-if-you-wish" type="text/css" media="all">
  Upload at http://www.tumblr.com/themes/upload_static_file
  -->

  <script src="//use.typekit.net/rmv5wfp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
