/** Base **/

html {
  font-family: "maiola";
  font-size: 18px;
  color: hsl(200,70%,33%);
  background-color: hsl(43,100%,99%);
  
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 36em;
}

p {
  margin: 1em 0;
}

a:hover {
  text-decoration: underline;
}

p a {
  text-decoration: underline;
}

h3 {
  margin: 1.5em 0 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: inline-block;
}



/** Header **/

header {
  margin: 0 0 3em -5em;
  padding-top: 3em;
  overflow: hidden;
  
  img {
    float: left;
    width: 4em;
    margin-right: 1em;
  }
  
  & > div { // header > div —> divs that are immediate children of header
    float: left;
    display: inline-block;
    margin-top: 0.8em;
  }
  
  h1 {
    margin-left: -5px;
    font-family:"federico-web";
    font-size: 3.5em;
    line-height: 0.6em;
    
    a:hover {
      text-decoration: none;
    }
  }
  
  @media (max-width: 54em) {
    margin: 0;
    padding: 2em 0;
  }
  
  @media (max-width: 380px) {
    padding: 0 0 1em;
    text-align: center;
    
    img {
      float: none;
    }
    
    div {
      float: none;
      margin-top: 1.5em;
      text-align: left;
    }
  }
}


/** Posts **/

main {
  min-height: calc(100vh - 18em);
}

article {

  h1 {
    font-size: 2em;
    margin: 0 0 1.1em -4px;
    
    &:first-letter { // h1:first-letter —> first letter of h1
      font-size: 4em;
      float: left;
      line-height: 0.8em;
    }
  }

  h1 + * { // the first thing that comes after the h1
    clear: left; /* clear the drop cap */
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

  figure figcaption {
    font-style: italic;
    padding: .5em;
  }
}

article + article {
  margin-top: 8em;
}

figure {
  margin: 0;
}

figure + figure {
  margin-top: 1em;
}

blockquote, q {
  quotes: none;
  font-style: italic;
  margin: 1em;
}

li, ol {
  margin: 0;
  margin-left: .5em;
  padding: 0;
}

ul {
  margin: .7em 0 .7em .5em;
  padding: 0;
 }

ol li {
  padding: .5em 0;
}

footer {
  margin: 3em 0 0 0;
  
  span {
    font-size: 0.85em;
  }
}
